html, body {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0;
    padding: 0;
}

.sidebar {
    border: none !important;
    box-shadow: none !important;
}

main {
    border: none !important;
    box-shadow: none !important;
}

.content {
    margin: 0;
    padding: 0;
}